
    <footer class="page-footer mt-2" style="background-color: #2e2e2e">

        <!-- Copyright -->
        <div class="text-center py-3">
            <span style="color:white; font-family: " Rubik",sans-serif;">© 2018 Copyright Pharmaton SOAPP</span>
        </div>
        <!-- Copyright -->

    </footer>
